<!doctype html>
<title>微站</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">

<div class=page>
  <h1> &nbsp 微站</h1>  <a href="{{ url_for('synconfig') }}"><h3>同步配置到本地</h3></a>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}"> 登录</a>
    <a href="{{ url_for('register') }}"> 注册</a>

  {% else %}
    <a href="{{ url_for('logout') }}">退出</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
